<section class="section">
  <div class="container is-dark">
    <h1 class="title">Welcome To DyzDev</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <!--<h1 class="title">New Items</h1>-->
    <!--<div class="columns">-->

      <!--<div class="column">-->

        <!--<div class="card">-->

          <!--<div class="card-image">-->
            <!--<figure class="image is-4by3">-->
              <!--<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">-->
            <!--</figure>-->
          <!--</div>-->

          <!--<div class="card-header">-->
            <!--<p class="card-header-title">-->
              <!--Rick and Morty-->
            <!--</p>-->
          <!--</div>-->

          <!--<div class="card-content">-->
            <!--<p><strong>Price: </strong> $50</p>-->
          <!--</div>-->

          <!--<div class="card-footer">-->
            <!--<a class="card-footer-item">-->
              <!--View Item-->
            <!--</a>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

      <!--<div class="column">-->

        <!--<div class="card">-->

          <!--<div class="card-image">-->
            <!--<figure class="image is-4by3">-->
              <!--<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">-->
            <!--</figure>-->
          <!--</div>-->

          <!--<div class="card-header">-->
            <!--<p class="card-header-title">-->
              <!--Rick and Morty-->
            <!--</p>-->
          <!--</div>-->

          <!--<div class="card-content">-->
            <!--<p><strong>Price: </strong> $50</p>-->
          <!--</div>-->

          <!--<div class="card-footer">-->
            <!--<a class="card-footer-item">-->
              <!--View Item-->
            <!--</a>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

      <!--<div class="column">-->

        <!--<div class="card">-->

          <!--<div class="card-image">-->
            <!--<figure class="image is-4by3">-->
              <!--<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">-->
            <!--</figure>-->
          <!--</div>-->

          <!--<div class="card-header">-->
            <!--<p class="card-header-title">-->
              <!--Rick and Morty-->
            <!--</p>-->
          <!--</div>-->

          <!--<div class="card-content">-->
            <!--<p><strong>Price: </strong> $50</p>-->
          <!--</div>-->

          <!--<div class="card-footer">-->
            <!--<a class="card-footer-item">-->
              <!--View Item-->
            <!--</a>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

      <!--<div class="column">-->

        <!--<div class="card">-->

          <!--<div class="card-image">-->
            <!--<figure class="image is-4by3">-->
              <!--<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">-->
            <!--</figure>-->
          <!--</div>-->

          <!--<div class="card-header">-->
            <!--<p class="card-header-title">-->
              <!--Rick and Morty-->
            <!--</p>-->
          <!--</div>-->

          <!--<div class="card-content">-->
            <!--<p><strong>Price: </strong> $50</p>-->
          <!--</div>-->

          <!--<div class="card-footer">-->
            <!--<a class="card-footer-item">-->
              <!--View Item-->
            <!--</a>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  </div>
</section>
