
<section class="section">
  <div class="container is-dark">
    <h1 class="title">Featured Items</h1>
    <div class="columns">

      <div class="column">
        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>
      </div>

      <div class="column">
        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>
      </div>

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>



    </div>
  </div>
</section>

<section class="section">
  <div class="container is-dark">
    <h1 class="title">New Items</h1>
    <div class="columns">

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>

      <div class="column">

        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>

          <div class="card-header">
            <p class="card-header-title">
              Rick and Morty
            </p>
          </div>

          <div class="card-content">
            <p><strong>Price: </strong> $50</p>
          </div>

          <div class="card-footer">
            <a class="card-footer-item">
              View Item
            </a>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
