<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3" *ngIf="resp['id']">
          <img [src]="'http://localhost/upload/' + resp['imageUrl']" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">

        <h1 class="title is-2" *ngIf="resp['id']">
          {{resp['name']}}
        </h1>
        <br>
        <p class="has-text-centered" *ngIf="resp['id']">
          <button class="button is-medium is-info is-outlined" (click)="addToCart()">
            Add To Cart
          </button>
        </p>
        <section class="content" *ngIf="resp['id']">
            <strong>Price: </strong> {{resp['price']}}
        </section>

      </div>
    </div>
  </div>
</div>
