.navbar .container .navbar-brand .navbar-item{
  font-weight: bolder;
}

.navbar-menu{
  background-color: #363636;
}

.navbar-item{
  color: white;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 2px 2px 10px #0a0a0a;

  /* the rest of your styling */
}
