<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="../">
        DyzDev
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          Orders
        </a>
        <a class="navbar-item">
          Payments
        </a>
        <a class="navbar-item">
          Exceptions
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" routerLink="auth/login">
          Login
        </a>
        <a class="navbar-item">
          Dashboard
        </a>
        <a class="navbar-item">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
