<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          <li><strong>DyzDev</strong></li>
          <li><a>About Us</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><strong>Help</strong></li>
          <li><a>Contact Us</a></li>
          <li><a>Help and Support</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><strong>Conditions</strong></li>
          <li><a>Terms of Service</a></li>
          <li><a>Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        The Website Is Made by <strong>Radityo Noeraldi Arief</strong>.
      </p>
    </div>
  </div>
</footer>
