<aside class="menu">
  <p class="menu-label">
    Dashboard
  </p>
  <ul class="menu-list">
    <li>
      <a class="item" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a>
    </li>

    <li>
        <a class="item" routerLink="/dashboard/account"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Account</a>
    </li>

    <!--<li>-->
        <!--<a class="item" routerLink="/dashboard/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Cart</a>-->
    <!--</li>-->

    <li>
        <a class="item" routerLink="/dashboard/transaction"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Transactions</a>
    </li>

  </ul>
</aside>
